<template>
    <table class="table">
      <thead>
        <tr>
          <th>Permisos</th>
          <th v-for="rol in roles">{{rol.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="permiso in permissions">
          <th scope="row">{{permiso.name}}</th>
          <td v-for="rol in roles">
            <input  type="checkbox"  v-model="ro_pe[rol.id][permiso.id].checked" v-on:change="checkChanged(rol.id, permiso.name, ro_pe[rol.id][permiso.id].checked)" >
            <!-- <input v-else type="checkbox"  > -->
          </td>
        </tr>
      </tbody>
    </table>
</template>

<script>
    export default {
        ready() {
            this.getAll();
        },
        data () {
            return {
                roles: [],
                permissions: [],
                ro_pe: []
            }   
        },
        methods: {
            getAll() {
                this.$http.get('getAcl')
                    .then(function(res) {
                        this.roles = res.data.ro_pe.roles;
                        this.ro_pe = res.data.ro_pe.rol_per;
                        this.permissions = res.data.permissions;

                        
                          // _.forEach(this.roles, function(rope, k) {
                            
                          // });
                        // });
                        // this.ro_pe = rope;
                        // for(var index in this.roles) { console.log('rol id', this.roles[index].id)
                        //     if(this.ro_pe[this.roles[index].id]) {
                        //         for(var ind in this.ro_pe[this.roles[index].id]) { console.log('en 1');
                        //             this.ro_pe[this.roles[index].id][ind].checked = true;
                        //         }
                        //     }
                        //     else { console.log('entre', this.roles[index].id );
                        //         this.ro_pe[this.roles[index].id][ind].checked = true;
                        //     }
                        // }
                    });
            },
            checkChanged(rol, per, state) {
                this.$http.put('acl/' + rol, {per: per, state: state})
                    .then((res) => {
                        
                    });
            }
        }
    }
</script>
