<template>
    <li role="presentation" class="dropdown" id="">
      <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-green" v-show="notificaciones.length > 0">{{notificaciones.length}}</span>
      </a>
      <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        <li v-for="notificacion in notificaciones | limit 5">
          <a>
            <span class="image"><img :src="'/profile/' + notificacion.data.reserva.user_id" alt="Profile Image" /></span>
            <span>
              <span>{{notificacion.data.userName}}</span>
              <span class="time">{{notificacion.created_at | moment "MMM Do YY, h:mm a"}}</span>
            </span>
            <span class="message">
              Usuario ha creado una Reservacion.
            </span>
          </a>
        </li>
      </ul>
    </li>
</template>

<script>
    export default {
        ready() {
            this.getAll();
            // Echo.private('App.User.' )
            // .notification((notification) => {
                
            //     //this.notifications.push(notification);
            // });
            Echo.private('App.User.' + this.userId)
                .listen('UserCreoReserva', (e) => { console.log(e.userId)
                    this.notificaciones = e.userNotis;
            });  
        },
        data () {
            return {
                notificaciones: [],
                userId: 1
            }   
        },
        methods: {
            getAll() {
                this.$http.post('/notificaciones')
                    .then(function(res) {
                        this.notificaciones = res.data;
                    });
            }
        },
        filters: {
           limit: function(arr, limit) {
              return arr.slice(0, limit)
           }
        }
    }
</script>
